@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/PTSans-Regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/PTSans-Bold.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
  line-height: 26px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  width: 1200px;
}

.page-header__navigation {
  width: 1060px;
  margin: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-header__navigation-logo {
  width: 140px;
  margin-right: 30px;
}

.page-header__navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page-header__navigation-link {
  display: block;
  padding: 20px 17px 20px 17px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.page-header__navigation-user {
  max-width: 265px;
  margin: 0 0 0 auto;
}

.page-header__navigation-user .page-header__navigation-link {
  min-width: 18px;
  min-height: 17px;
}

.page-header__likes-number {
  background-color: #7DB54F;
  color: #ffffff;
}

.brown-button {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #756257;
  color: #ffffff;
}

.main-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.welcome-banner {
  max-height: 767px;
}

.welcome-banner__image-text {
  margin: 0 0 60px 0;
  padding: 0;
  height: 485px;
  background: url("../img/index-background.jpg") center/cover no-repeat;
  text-align: center;
}

.welcome-banner__image-text img {
  display: block;
  margin: 0;
  padding: 0;
}

.welcome-banner__strong-text {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.welcome-banner__text {
  margin: 0 0 80px 0;
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantages {
  text-align: center;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.advantages__card {
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  min-height: 384px;
}

.advantages__cold-light-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #83B3D3;
}

.advantages__cold-light-card h3, .advantages__cold-light-card p {
  color: #ffffff;
}

.advantages__card-light-accent {
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages__card-dark-accent {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages__card-title {
  margin: 90px 0 30px 0;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
}

.advantages__card-number {
  margin: 0 0 30px 0;
  font-size: 18px;
  line-height: 21px;
}

.advantages__card-text {
  margin: 0 74px 0 74px;
  text-align: center;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}

.search-section {
  text-align: center;
}

.search-section__strong-text {
  margin: 90px 0 30px 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.search-section__text {
  margin: 0 0 55px 0;
  font-size: 22px;
  color: #333333;
}

.search-section__button {
  display: block;
  margin: 0 auto 90px auto;
  width: 575px;
  height: 60px;
  text-decoration: none;
}

.search-section__button-text {
  display: block;
  padding: 15px 130px;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.newsletter {
  padding: 93px 0 93px 0;
  text-align: center;
  background-image: url(/img/newsletter-background.jpg);
  background-repeat: no-repeat;
  color: #ffffff;
}

.newsletter__title {
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.newsletter__text {
  margin-bottom: 45px;
  color: #ffffff;
}

.newsletter__button-text {
  font-size: 20px;
  text-transform: uppercase;
}

.cold-button {
  background-color: #83B3D3;
  color: #ffffff;
}

.main-catalog {
  margin: 0 auto;
}

.main-catalog__title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.main-catalog__navigation-list {
  font-size: 16px;
  line-height: 21px;
}

.filter-container {
  padding: 0 70px;
  background: url("../img/catalog-background.jpg") center/cover no-repeat;
  background-color: #83B3D3;
  color: #ffffff;
}

.catalog-filter__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog-filter__group {
  border: #ffffff 2px solid;
  padding: 0;
  margin: 0;
}

.catalog-filter__group-infrastructure {
  width: 150px;
  margin-right: 65px;
}

.catalog-filter__group-type {
  width: 150px;
}

.catalog-filter__group-price {
  width: 285px;
  margin-left: auto;
}

.catalog-filter__group-buttons {
  width: 160px;
  margin-left: 80px;
}

.catalog-filter__group-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}

.catalog-filter__group-list {
  margin: 0;
  padding: 0;
}

.catalog-filter__group-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter__cold-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
}

.catalog-filter__button {
  font-size: 18px;
  line-height: 23px;
  display: block;
  margin: 0 auto;
  width: 160px;
}

.control-input {
  font-size: 18px;
  line-height: 23px;
}

.search-results__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.search-results__card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.search-results__hotel-type {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.search-results__hotel-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.search-results__button-card {
  font-weight: 700px;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}

.search-results__rating {
  font-size: 16px;
  line-height: 21px;
  color: #333333;
}

.search-results__button {
  font-weight: 700px;
  font-size: 20px;
  line-height: 26px;
}

.sorting__container {
  width: 1060px;
  margin: 0 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sorting__text {
  width: 350px;
  margin-right: 180px;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
  text-transform: uppercase;
}

.sorting__form {
  width: 285px;
  margin-right: auto;
}

.sorting__select {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagonation-section__form {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagonation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagonation__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pagonation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
}

.page-footer {
  width: 1200px;
  margin: 0 auto;
}

.page-footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-footer__social {
  width: 110px;
  margin-right: 60px;
}

.page-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.page-footer__social-item {
  width: 20px;
  height: 16px;
}

.page-footer__social-link {
  display: block;
}

.page-footer__phone-number {
  width: 720px;
  text-align: center;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
}

.page-footer__logo {
  width: 115px;
  margin-left: auto;
}
